@model IEnumerable<Product>
@{
    ViewBag.Title = "Giỏ hàng";
}

<h2>Giỏ hàng</h2>
<table class="table table-hover">
    <tr>
        <th>Id</th>
        <th>Tên sản phẩm</th>
        <th>Giá</th>
        <th>Giảm giá</th>
        <th>Số lượng</th>
        <th>Thành tiền</th>
        <th></th>
    </tr>
    @foreach (var p in Model)
    {
        <tr>
            <td>@p.Id</td>
            <td>@p.Name</td>
            <td>@Html.FormatValue(p.UnitPrice, "{0:n}")</td>
            <td>@Html.FormatValue(p.Discount, "{0:p}")</td>
            <td><input class="quantity" value="@p.Quantity" data-id="@p.Id" size="3"></td>
            <td id="@p.Id">@Html.FormatValue(p.UnitPrice * p.Quantity * (1 - p.Discount), "{0:n}")</td>
            <td>
                <img class="remove-from-cart" data-id="@p.Id" src="/Content/img/icons/Trash.png" />
            </td>
        </tr>
    }
    <tr>
        <th colspan="5" style="text-align:right">Tổng tiền:</th>
        <th>@ShoppingCart.Cart.Total</th>
        <th></th>
    </tr>
</table>
<form action="/Cart/Clear" method="post">
    <button class="btn btn-default">
        <span class="glyphicon glyphicon-th-list"></span>
        Xóa giỏ hàng
    </button>
    <a href="/Home/Index" class="btn btn-default">
        <span class="glyphicon glyphicon-th-list"></span>
        Mua thêm
    </a>
    <a href="/thanh-toan" class="btn btn-default">
        <span class="glyphicon glyphicon-th-list"></span>
        Thanh toán
    </a>
</form>

@section scripts{
    <script>
        $(function () {
            // Xóa khỏi giỏ
            $(".remove-from-cart").click(function () {
                pid = $(this).attr("data-id");
                tr = $(this).parents("tr");// tim <tr> chua <img> bi click
                $.ajax({
                    url: "/Cart/Remove",
                    data: { id: pid },
                    success: function (response) {
                        $("#nn-cart-count").html(response.Count);
                        $("#nn-cart-total").html(response.Total);
                        tr.hide(500);
                    }
                });
            });
            // Cập nhật số lượng
            $(".quantity").keyup(function () {
                pid = $(this).attr("data-id");
                qty = $(this).val();
                $.ajax({
                    url: "/Cart/Update",
                    data: { id: pid, quantity: qty },
                    success: function (response) {
                        $("#nn-cart-count").html(response.Count);
                        $("#nn-cart-total").html(response.Total);
                        $("#" + pid).html("$" +response.Amount);
                    }
                });
            });
        });
    </script>
}