@model MultiShop.Models.InputModel
@{
    ViewData["Title"] = "Verify phone number";
}

<h4>@ViewData["Title"]</h4>
<div class="row">
    <div class="col-md-8">
        @using (Html.BeginForm("ConfirmPhone", "VerifyPhone", FormMethod.Post))
        {
            <p>
                We have sent a confirmation code to (@Model.DialingCode) @Model.PhoneNumber
                Enter the code you receive to confirm your phone number.
            </p>
            <div class="form-group">


                @Html.TextBoxFor(m => m.DialingCode, new { style = "display: none;" })
                @Html.ValidationMessageFor(m => m.DialingCode)

            </div>
            <div class="form-group">

                @Html.TextBoxFor(m => m.PhoneNumber, new { style = "display: none;" })
                @Html.ValidationMessageFor(m => m.PhoneNumber)

            </div>
            <div class="form-group">
                @Html.LabelFor(m => m.VerificationCode, new { @class = "col-md-2 control-label" })
                <div class="col-md-10">
                    @Html.TextBoxFor(m => m.VerificationCode, new { @class = "form-control" })
                    @Html.ValidationMessageFor(m => m.VerificationCode)
                </div>
            </div>

            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <input type="submit" value="Send verification code" class="btn btn-default" />
                </div>
            </div>
        }
    </div>
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}

